<mat-sidenav-container fullscreen>
    <mat-sidenav-content >
        <mat-toolbar color="primary" [class.mat-elevation-z8]="true">
            <mat-toolbar-row>
                <button matTooltip="Regresar al inicio" mat-button style="font-size: 20px;" [routerLink]="['Home']">Sistema Quejas</button>
                <span class="example-spacer"></span>
                <button matTooltip="Información sobre tu perfil" mat-button [matMenuTriggerFor]="menu">
                    {{user}} <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="logOut()" >
                      <mat-icon color="primary">assignment_ind</mat-icon>
                      <span>Salir</span>
                    </button>
                  </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
        <div >
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>